body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
}

.grid-item {
    text-align: center;
}

    .grid-item img {
        width: 100%;
        height: auto;
        display: block;
    }

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
