.App {
    text-align: center;
    min-height: 100vh;
  }
  
  .App-header {
    width: 100%;
    z-index: 1000;
  }
  
  main {
    padding-top: 0; /* Remove the top padding */
  }
  
  section {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem; /* Remove vertical padding */
  }
  
  /* Add some basic spacing for content */
  h2 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1rem;
  }